body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 20px;
    text-align: center;
    color: #fff; /* Default text color */
}

header {
    background-color: #333;
}

footer {
    background-color: #333;
}

main {
    padding: 20px;
}

footer p {
    margin: 0;
}

/* Light Mode Styles */
[data-theme="light"] {
    background-color: #f0f0f0;
    color: #333;
}

/* Dark Mode Styles */
[data-theme="dark"] {
    background-color: #333;
    color: #fff;
    
}

footer a {
    color: #fff; /* Set link color to white */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.toggle-container {
    display: flex;
    align-items: center; /* Center items vertically */
}

.theme-label {
    margin-left: 10px; /* Adjust margin as needed */
    font-size: 14px; /* Adjust font size as needed */
    color: #fff; /* Set text color to white */
}
